<section class="advantages">
    <div class="container">
        <h2 class="title advantages-section-title">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/wands.png  1x,
                                    ./img/advantages/wands@2x.png 2x" />
                    <img src="./img/advantages/wands.png" alt="wands" />
                </picture>
                <h3 class="advantage-title">Fun and Intuitive Gameplay</h3>
                <p class="advantage-desc">Engaging and easy to learn gameplay</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/polyhedron.png  1x,
                                    ./img/advantages/polyhedron@2x.png 2x" />
                    <img src="./img/advantages/polyhedron.png" alt="polyhedron">
                </picture>
                <h3 class="advantage-title">For All Ages</h3>
                <p class="advantage-desc">Suitable for all age groups</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/cube.png    1x,
                                   ./img/advantages/cube@2x.png 2x " />
                    <img src="./img/advantages/cube.png" alt="cube">
                </picture>
                <h3 class="advantage-title">Sharpen Your Mind</h3>
                <p class="advantage-desc">Develops quick thinking and strategy planning</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/glasses.png    1x,
                                   ./img/advantages/glasses@2x.png 2x" />
                    <img src="./img/advantages/glasses.png" alt="glasses">
                </picture>
                <h3 class="advantage-title">Progress Through Difficulties</h3>
                <p class="advantage-desc">Multiple levels with increasing difficulty</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/glass.png    1x,
                                    ./img/advantages/glass@2x.png 2x" />
                    <img src="./img/advantages/glass.png" alt="glass">
                </picture>
                <h3 class="advantage-title">Full immersion</h3>
                <p class="advantage-desc">Vibrant graphics and fun sound effects</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/torus.png    1x,
                                    ./img/advantages/torus@2x.png 2x" />
                    <img src="./img/advantages/torus.png" alt="torus">
                </picture>
                <h3 class="advantage-title">Regular New Features</h3>
                <p class="advantage-desc">Regular updates with new features and levels</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/cone.png    1x,
                                    ./img/advantages/cone@2x.png 2x" />
                    <img src="./img/advantages/cone.png" alt="cone">
                </picture>
                <h3 class="advantage-title">Play Anytime <br />
                    & Anywhere</h3>
                <p class="advantage-desc">No internet connection required to play</p>
            </li>
            <li class="advantages-list-item">
                <picture class="advantage-img">
                    <source srcset="./img/advantages/cylinder.png    1x,
                                    ./img/advantages/cylinder@2x.png 2x" />
                    <img src="./img/advantages/cylinder.png" alt="cylinder">
                </picture>
                <h3 class="advantage-title">Endless Fun</h3>
                <p class="advantage-desc">Provides hours of entertainment and brain-teasing challenges.</p>
            </li>
        </ul>
    </div>
</section>
