<section class="bg-color" id="benefits">
  <div class="container benefits">
    <h2 class="title">Benefits</h2>
    <ul class="benefits_list">
      <li>
        <img src="/img/benefits/point.png" alt="score" />
      </li>
      <li>
        <img src="/img/benefits/reviews.png" alt="downloads" />
      </li>
      <li>
        <img src="/img/benefits/downloads.png" alt="reviews" />
      </li>
      <li>
        <img src="/img/benefits/online.png" alt="choice" />
      </li>
    </ul>
  </div>
</section>
