<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Gallery</h2>
    <img src="/img/gallery/1.webp" alt="Minion Snake" class="gallery-img" />

    <!-- Slider main container -->
    <div class="swiper horisontal-swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img
            src="/img/gallery/2.webp"
            alt="Sliders"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/3.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/4.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/5.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/6.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/7.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/8.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/9.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/10.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/11.webp"
            class="swiper-img"
            width="306"
            height="680"
            alt="sliders"
          />
        </div>

        <div class="swiper-slide">
          <img
            src="/img/gallery/12.webp"
            class="swiper-img"
            width="306"
            alt="sliders"
            height="680"
          />
        </div>
      </div>
    </div>
    <!-- Кастомні стрілки з SVG -->
    <div class="custom-prev">
      <svg width="24" height="24">
        <use href="/img/sprite.svg#left"></use>
      </svg>
    </div>
    <div class="custom-next">
      <svg width="24" height="24">
        <use href="/img/sprite.svg#right"></use>
      </svg>
    </div>
  </div>
</section>
