<section id="hero">
  <div class="hero-container">
    <div class="hero-wrap">
      <div class="hero-left-side">
        <h1 class="hero-title">Minion <span class="hero-span">Snake</span></h1>
        <p class="hero-text">
          Avoid all obstacles and kill the boss with your snake minions
        </p>
        <a
          href="https://play.google.com/store/apps/details?id=com.astrogames.minnionsnake"
          class="hero-link"
          target="_blank"
        >
          <picture>
            <source
              srcset="/img/hero/googlePlay.png"
              media="(min-width:1440px)"
            />
            <source
              srcset="/img/hero/play-mobile.png"
              media="(max-width:320px)"
            />
            <img
              src="/img/hero/googlePlay.png"
              alt="Link to Google Play"
              class="hero-google"
              width="227"
              height="80"
            />
          </picture>
          <!-- <img
            src="/img/hero/googlePlay.png"
            alt="Link to Google Play"
            class="hero-google-active"
            width="227"
            height="80"
          /> -->
        </a>
      </div>

      <div class="hero-right">
        <img
          src="/img/hero/minion.png"
          alt="minion"
          class="hero-img"
          width="480"
          height="480"
        />
      </div>
    </div>
  </div>
</section>
