<section class="how-to-play" id="play">
    <div class="container">
        <div class="wrapper-blur">
            <h2 class="title">How to Play</h2>
            <div class="wrapper">
                <ul class="instruction-list-first-half">
                    <li class="instruction-item">
                        <p class="number">01</p>
                        <p class="instruction">Swipe to guide your minion snake across the screen</p>
                    </li>
                    <li class="instruction-item">
                        <p class="number">02</p>
                        <p class="instruction">Eat the fruits scattered around to increase your length</p>
                    </li>
                    <li class="instruction-item">
                        <p class="number">03</p>
                        <p class="instruction">Avoid running into your tail or the game area borders</p>
                    </li>
                    <li class="instruction-item">
                        <p class="number">04</p>
                        <p class="instruction">Use power-ups to clear obstacles or gain temporary invincibility</p>
                    </li>
                </ul>
                <picture class="spiral-img">
                    <source srcset="./img/how-to-play/spiral.png  1x,
                                                                            ./img/how-to-play/spiral@2x.png 2x" />
                    <img src="./img/how-to-play/spiral.png" alt="cones" />
                </picture>

            </div>
            <div class="wrapper">
                <picture class="cones-img">
                    <source srcset="./img/how-to-play/cones.png  1x,
                                                        ./img/how-to-play/cones@2x.png 2x" />
                    <img src="./img/how-to-play/cones.png" alt="cones" />
                </picture>
                <ul class="instruction-list-second-half">
                    <li class="instruction-item">
                        <p class="number">05</p>
                        <p class="instruction">Complete levels by reaching the required length without colliding</p>
                    </li>
                    <li class="instruction-item">
                        <p class="number">06</p>
                        <p class="instruction">Tackle different environments that change the gameplay dynamics</p>
                    </li>
                    <li class="instruction-item">
                        <p class="number">07</p>
                        <p class="instruction">Score higher points by completing levels faster</p>
                    </li>
                    <li class="instruction-item">
                        <p class="number">08</p>
                        <p class="instruction">Unlock different minion characters with special abilities</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
