.about {
  background-image: url(../img/about/bg-mobile.png);
  border-radius: 32px 32px 0 0;
  height: 1274px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.62;
  color: #fff;
}
.about-span {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.35;
}
.about-title {
  padding-bottom: 28px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  display: flex;
  justify-content: center;
  color: #fff;

  @include media(desktop) {
    padding-bottom: 59px;
    font-size: 36px;
    line-height: 1.22;
    padding-top: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    background-image: url(../img/about/bg-desc.png);
    width: 1440px;
    height: 764px;
  }
  .text-wrap {
    padding-left: 470px;
  }

  .about-text {
    justify-content: right;
  }

  .about-span {
    font-size: 32px;
  }
}
