.footer {
  background-color: #2a2a2a;
  color: #ffffff;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    @include media(desktop) {
      flex-direction: row;
      text-align: left;
      padding-right: 101px;
      padding-left: 101px;
    }
  }
}

.footer-text {
  line-height: 1.57;
  font-size: 14px;
  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto;
    order: 1;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include media(desktop) {
    margin-left: auto;
    order: 2;
  }
}

.nav-link {
  line-height: 1.57;
  font-size: 14px;
}
